---
layout: default
---

<div class="left">
    <div class="widget about-me">
        <img class="image" src="images/me.jpg" alt="Me">
        <h1 class="name" itemprop="name">Eric Range</h1>
        <div class="job" itemprop="jobTitle">Fullstack Developer</div>
        <div class="location" itemprop="addressLocality">Jena, Germany</div>
    </div>

    <div class="widget connect shadow">

        <div class="contact">
            <h3 class="widget-title">Contact</h3>
            <div class="email"></div>
        </div>

        <div class="social">
            <h3 class="widget-title">Social</h3>
        </div>

    </div>

    <div class="widget skills shadow">
        <h3 class="widget-title">Skills</h3>
        <ul class="skill-list clearfix">
            {% for item in site.skills %}
            <li class="skill">{{ item }}</li>{% endfor %}
        </ul>
    </div>
</div>

<div class="right shadow">

    <h2>Background</h2>
    <h3>Experience</h3>
    <ul class="vita-list">
        {% for item in site.vita %}
        <li class="entry">
            <div class="period">{{ item.period }}</div>
            <div class="company">{{ item.company }}</div>
            <div class="job">{{ item.job }}</div>
        </li>{% endfor %}
    </ul>

    <h3>Education</h3>
    <ul class="vita-list">
        {% for item in site.education %}
        <li class="entry">
            <div class="period">{{ item.period }}</div>
            <div class="name">{{ item.name }}</div>
            <div class="location">{{ item.location }}</div>
            <div class="studies">{{ item.studies }}</div>
        </li>{% endfor %}
    </ul>

</div>
