<nav role="navigation" class="menu">
    <ul>
        <li class="menu-item">
            <paper-button class="menu-item-button menu-contact">
                <i class="octicon octicon-location"></i>
                <a href="/contact/">Kontakt</a>
            </paper-button>
        </li>
        <li class="menu-item">
            <paper-button class="menu-item-button menu-subscribe" autofocus>
                <i class="octicon octicon-rss"></i>
                <a href="javascript:Modal.subscribe();">Abonnieren</a>
            </paper-button>
        </li>
    </ul>
</nav>
