<nav role="navigation" id="menu" class="menu">
    <ul>
        <li tooltip="Kontakt" class="button">
            <span class="octicon octicon-organization"></span>
            <a href="/contact/">Kontakt</a>
        </li>
        <li tooltip="Abonnieren" class="button">
            <span class="octicon octicon-megaphone"></span>
            <a href="javascript:Modal.subscribe();">Abonnieren</a>
        </li>
        <li tooltip="RSS" class="button">
            <span class="octicon octicon-rss"></span>
            <a href="/rss/">RSS Feed</a>
        </li>
    </ul>
</nav>
