<core-overlay style="display:none;" backdrop="true" closeSelector=".close" id="subscribe-modal">
    <h2>Blog abonnieren</h2>
    <p>If I write shit, you get it in your inbox a maximum of 1 time per week. If I don't then nothing happens.</p>
    <paper-input type="email" id="subscribe-email-modal" label="E-Mail Adresse"></paper-input>
    <paper-button class="close" affirmative>Zurück</paper-button>
    <paper-button onclick="Subscribe.apply('subscribe-email-modal');" affirmative autofocus>Los</paper-button>
</core-overlay>
