<ul class="items">
    <li class="rss-me"><span class="octicon octicon-rss"></span><a href="/rss/">RSS</a>
    </li>
    <li class="contact-me"><span class="octicon octicon-person"></span><a href="/contact/">Kontakt</a>
    </li>
    <li class="subscribe-me"><span class="octicon octicon-mention"></span><a href="javascript:Modal.subscribe();">Abonnieren</a>
    </li>
</ul>
