<ul class="items">
    <li class="subscribe-me"><span class="octicon octicon-rss"></span><a href="/rss/">Abonnieren</a>
    </li>
    <li class="contact-me"><span class="octicon octicon-person"></span><a href="/contact/">Kontakt</a>
    </li>
</ul>
