@import "vendor/normalize.scss";
@import "vendor/prism.scss";

@import "index.scss";
@import "post.scss";

* {
    font-family: "Open Sans", Helvetica, Arial;

}
h1,
h2,
h3 {
    font-weight: lighter;
    letter-spacing: -1px;

}
.page-title {
    font-weight: lighter;
    font-size: 46px;
    margin-bottom: 0;
    padding-left: 60px;

}
.page-description {
    font-size: 24px;
    color: #999;
    letter-spacing: 0;
    padding-left: 60px;

}
.contact-button {
	padding: 0px!important;
}
.subscribe-button {
	margin-right: 0px!important;
}
.subscribe-button, .contact-button {
    border: none;
border-radius: 50%;
background: mediumseagreen;
height: 40px;
width: 40px;
padding: 4px 0 0 1px;
display: inline-block;
float: right;
text-align: center;
line-height: 35px;
box-sizing: border-box;
margin-right: 5px;
	.octicon {
		color: white;
		font-size: 18px;
	}

	&:hover {
		background: mediumseagreen!important;
		.octicon {
			color: #fff;
		}
	}
}
.main-header {
    border-bottom: solid #3cb371 10px;
    background: rgba(60, 179, 113, 0.05);
    text-align: left;

    .custom-logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .letter {
            font-family: "Open Sans";
            font-size: 52px;
            font-weight: lighter;
            color: #3cb371;

            &.e {
                transform: rotateY(180deg);
                width: 25px;
                float: left;
                margin-right: -13px;

            }
            &.r {
                float: left;
                margin-right: 10px;
                margin-top: 16px;
            }
        }
    }

}
.post-footer {
    padding-bottom: 40px;

}
.post-meta {
    a[href*="/tag/"] {
        border-bottom: dotted #3cb371 1px;
    }
}
