@import "vendor/normalize.scss";
@import "vendor/prism.scss";

@import "index.scss";
@import "post.scss";
@import "elements.scss";

* {
    font-family: "Open Sans", Helvetica, Arial;

}
h1,
h2,
h3 {
    font-weight: lighter;
    letter-spacing: -1px;

}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        margin: 0;
    }

}
input[type="submit"] {
    border: none;
    background: none;
    outline: none;
}
.page-title {
    font-weight: lighter;
    font-size: 46px;
    margin-bottom: 0;
    padding-left: 60px;
}
.page-description {
    font-size: 24px;
    color: #999;
    letter-spacing: 0;
    padding-left: 60px;

}
.overlay {
    height: 30%!important;

}
$items: 4;
.main-nav {
    #stack-container {
        display: block;
        float: right;
        overflow: hidden;
        height: 40px;
        width: 40px;
        &:hover {
            width: (40 * $items) + (5 * ($items - 1)) + px;
            .menu {
                .button {
                    &::before,
                    &::after {
                        z-index: 0;
                    }
                    &:hover {
                        &::before,
                        &::after {
                            transform: translateX(-50%);
                            left: 50%;
                            position: absolute;
                        }
                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            border: solid 5px rgba(0, 0, 0, 0);
                            border-bottom: solid 5px #222;
                            top: 37px;
                        }
                        &::after {
                            content: attr(tooltip);
                            font-size: 12px;
                            background: #222;
                            color: #fff;
                            padding: 0 6px;
                            top: 47px;
                            line-height: 25px;
                            border-radius: 5px;
                        }
                    }

                }
                @for $i from 1 through $items {
                    .button:nth-child(#{$i}) {
                        right: 40 + ($i * 40) + ($i * 5) + px;
                    }
                }
            }
        }

    }
    .button {
        cursor: pointer;
        transition: right 0.5s 0.2s;
        border-radius: 50%;
        background: mediumseagreen;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 35px;
        position: absolute;
        right: 40px;
        z-index: 0;
        &.stack {
            z-index: 2;
        }
        .octicon {
            color: white;
            font-size: 18px;
        }
        a {
            font-size: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            padding: 0;
            top: 0;
            z-index: 0;
            &:hover {
                background: none;
                .octicon {
                    color: #fff;
                }
            }
        }
    }

}
paper-input {


}
.main-nav {
    a {
        padding: 10px;
        span {
            vertical-align: middle;
        }

    }
    .back {
        float: left;
        font-size: 1.5rem;
        border: dotted 1px #999;
        a {
            color: #999;
            &::before {
                content: "\e005";
                font-family: icons;
                font-size: 14px;
                vertical-align: middle;
                margin-right: 3px;
            }
        }

        @media screen and (max-width: 500px) {
            border: none;
        }
    }

}
.main-header {
    border-bottom: solid #3cb371 10px;
    text-align: left;

    .main-header-content {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0));
        padding: 25px 35px;

    }
    .custom-logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .letter {
            font-family: "Open Sans";
            font-size: 52px;
            font-weight: lighter;
            color: #3cb371;

            &.e {
                transform: rotateY(180deg);
                width: 25px;
                float: left;
                margin-right: -13px;

            }
            &.r {
                float: left;
                margin-right: 10px;
                margin-top: 16px;
            }
        }
    }

}
.post-footer {
    padding-bottom: 40px;

}
.post-meta {
    a[href*="/tag/"] {
        border-bottom: dotted #3cb371 1px;
    }
}
