.home-template {
    .post {
        .post-meta {
            font-size: 16px;
            color: #3cb371;
            margin-top: 10px;

            .author-thumb {
                position: relative;
                top: 5px;

            }
            * {
                color: #3cb371;
                text-decoration: none;
            }
        }
    }
}
