@mixin keyframe ($animation) {
    @-webkit-keyframes $animation {
        @content;
    }
 
    @-moz-keyframes $animation {
        @content;
    }
 
    @-o-keyframes $animation {
        @content;
    }
 
    @keyframes $animation {
        @content;
    }
}

@mixin transform($content) {
    transform:          $content;
    -webkit-transform:  $content;
    -moz-transform:     $content;
    -o-transform:       $content;
    -ms-transform:      $content;
}

@mixin linear-gradient($from, $to) {
  background-color: $to; /* Fallback Color */
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  /*background: -moz-linear-gradient(top, $from, $to);*/
  background: linear-gradient($from, $to);
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}