.post {
	.post-content, .post-excerpt {
		font-weight: lighter;
		font-size: 18px;
		line-height: 32px;
		color: #333;
		letter-spacing: 0.5px;
	}
}

.home-template {
	.post-excerpt {
		margin-bottom: 0px;
	}
}

.post-template {
	border-top: solid #3CB371 10px;
	.post {
		max-width: 800px;
		margin: 0 auto;

		h1 {
			font-size: 52px;
		}

		img {
			margin: 10px 0px;
		}

		ul, ol {
			margin-left: 20px;
		}
		
		.post-meta {
			color: #3CB371;
			text-decoration: none;
			font-size: 16px;
			margin-top: 5px;
			
			* {
				color: #3CB371;
				text-decoration: none;
			}
		}

		blockquote {
			padding: 1px 1.6em;
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 30px;
		}

		p, blockquote {
			& + h2 {
				margin-top: 50px;
			}
		}

		pre {
			* { font-family: monospace; }
			& + * {
				margin-top: 1.65em;
			}
		}
	}
}
